.item {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:550px;
    width:300px;
    background-color: #d5bdaf;
    color:#76695d;
    border-radius: 5px;
    margin: 10px;
}

.item img{
    height:250px;
    width:90%
}

.item h2{
    text-align: center;
    margin:5px;
}

.item h3{
    font-size: medium;
}

.itemContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height:500px;
}

.btn-agregar {
    background-color:#d5bdaf;
    color:#76695d;
    border-color: #76695d;
    border-radius: 5px;
    padding: 4px;
    cursor: pointer;
    font-weight:600;
}

.btn-agregar:hover {
    background-color:#76695d;
    color:#f5ebe0;
}